@model List<Fiap07.Web.MVC.Models.Livro>
@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Livros</h2>

<table class="table table-striped">
    <tr>
        <th>Código</th>
        <th>Título</th>
        <th>Páginas</th>
        <th>Editora</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LivroId</td>
            <td>@item.Titulo</td>
            <td>@item.Paginas</td>
            <td>@item.Editora.Nome</td>
        </tr>
    }
</table>
